doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    <h2>titulo con html tradicional </h2>
    <a href="http://google.com" target="_blank">link</a>    

    include test-component/test-component.pug
    
    ul
      each val in [1, 2, 3, 4, 5]
        li= val